# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\New folder\Do_an_LTW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
